/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: "Karla";
  src: url("../font/karla/Karla-Regular.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Karla";
  src: url("../font/karla/Karla-Bold.ttf") format("truetype");
  font-weight: 700; }

.karla{
	font-family: "Karla";
	font-weight: 500;
}

.karla-bold{
	font-family: "Karla";
	font-weight: 700;
}
.icon-block {
  padding: 0 15px;
}

/* navbar */
.navbar li{
	font-weight: 300;
}

/* banner */
.banner a{
	margin-bottom: -3rem;
}
.banner-title{
	font-size: 6rem;
}
.banner-subtitle{
	font-size: 1.8rem;
}
.banner-img{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#macbook{
	-webkit-transform: scale(0.9); /* Saf3.1+, Chrome */
	-moz-transform: scale(0.9); /* FF3.5+ */
	-ms-transform: scale(0.9); /* IE9 */
	-o-transform: scale(0.9); /* Opera 10.5+ */
	transform: scale(0.9);
}

/* about */

.about {
	color:#FFFFFF;
	padding-top: 5rem;
	padding-bottom: 5rem;
}


@media screen and (max-width: 1050px) and (min-width: 601px){
	.banner-title{
		font-size: 4.8rem;
		margin-bottom: 0;
	}
	.banner-subtitle{
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 552px) and (max-width: 600px){
	.banner-title{
		font-size: 4rem;
		margin-bottom: 0;
		margin-top: 0;
	}
	.banner-subtitle{
		font-size: 1.2rem;
	}
	.resume-div{
		text-align: center;
	}
	.about-text{
		text-align: center;
	}

}


@media screen and (min-width: 600px){
	.about-p{
		font-size:1.2rem;
	}

}


/* projects */

.gallery {
	color:#616161;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.gallery-title{
	margin-bottom: 0.5rem;
}
.gallery-text{
	font-size: 1.4rem;
}

i .fa-github{
	color: #009688;
}
