<div class = "navbar-fixed">
  <nav class="teal navbar" role="navigation">
    <div class="nav-wrapper container">
      <a href = "#/" class = "hide-on-med-and-down" style = "font-weight: 100; font-size: 2rem;">Yuwei Xu</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/">Home</a></li>
        <li><a href="#/#about">About</a></li>
        <li><a href="#/projects">Projects</a></li>
        <li><a href="#/#connect">Contact</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#/">Home</a></li>
        <li><a href="#/#about">About</a></li>
        <li><a href="#/projects">Projects</a></li>
        <li><a href="#/#connect">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
<div class="section banner teal" id="banner">
    <div class="container">
      <br><br>
      <h1 class="header center white-text thin banner-title karla animated fadeIn">Hey, I'm Yuwei Xu</h1>
      <h5 class="header col s12 thin white-text banner-subtitle center animated fadeIn">and I'm an aspiring entrepreneur and developer</h5>
      <div class = "banner-img row center">
        <img class = "animated fadeIn" id="macbook" src = "img/macbook.png"></img>
      </div>
      <div class = "center">
        <a href = "#/#about" class="btn-floating btn-large waves-effect waves-light white"><i class="mdi-navigation-expand-more grey-text"></i></a>
      </div>
    </div>
  </div>
<div class="section about orange lighten-2" id ="about">
    <div class = "container about-container">
      <h4 class="light center karla-bold">About Me</h4>
      <!--   Icon Section   -->
      <br>
      <div class="row">
        <div class="col xs12 s10 offset-s1 m6 offset-m3 center">
          <img src="img/profile.png" class="circle responsive-img">
        </div>
        <div class="col s12 offset-m1 m10 offset-l2 l8">
          <p class="about-p center">I’m an undergraduate student studying computer science at the University of Waterloo. I enjoy attending hackathons, browsing Quora and eating good food. This summer, I will be interning at Google. </p>
          <p class="about-p center">In terms of development, I enjoy developing apps for Android and web. I also really like material and flat design which was the inspiration behind this website.</p>
          <div class = "resume-div center">
            <a href = "files/resume.pdf" class="waves-effect waves-light btn">My Resume</a>
          </div>
        </div>

      </div>    
    </div>
  </div>
  <div class="section gallery grey lighten-2">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="col xs12 light gallery-title karla-bold">Checkout My Work</h4>
          <h5 class="col xs12 gallery-text"><a href="#/projects" class = "teal-text">Projects</a> | <a href = "#/projects" class= "teal-text">Design</a></h5>
        </div>
      </div>
    </div>
    
</div>

<footer class="page-footer teal">
    <div class="container footer-content"  id = "connect">
      <div class="row">
        <div class="col l8 s12 offset-l2 ">
          <h4 class="white-text light center karla-bold">Connect</h4>
          <p class="white-text about-p center">Feel free to shoot me an email or message me on the following social networks.</p>
          <ul>
            <li class = "white-text center light"><li class = "white-text center light"><a href="mailto:yuwei_xu@outlook.com" class = "white-text"><i class="fa fa-envelope-square fa-fw white-text"></i>Email</a></li>
            <li class = "center light"><a href="http://facebook.com/yuwei.xu.77" class = white-text "white-text"><i class="fa fa-facebook-square fa-fw white-text"></i>Facebook</a></li>
            <li class = "white-text center light"><a href="http://github.com/xuyuwei" class = white-text "white-text"><i class="fa fa-github-square fa-fw white-text"></i>Github</a></li>
            <li class = "white-text center light"><a href="http://www.linkedin.com/in/yuweixu" class = white-text "white-text"><i class="fa fa-linkedin-square fa-fw white-text"></i>LinkedIn</a></li>
          </ul>
          
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        Made with <a href = "http://materializecss.com" class="orange-text text-lighten-3">Materialize</a>
      </div>
    </div>
  </footer>