<nav class="teal navbar" role="navigation">
	<div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">
      <li><a href="#/">Home</a></li>
      <li><a href="#/projects#development">Development</a></li>
      <li><a href="#/projects#design">Design</a></li>
      <li><a href="#/projects#connect">Contact</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#/">Home</a></li>
      <li><a href="#/projects#development">Development</a></li>
      <li><a href="#/projects#design">Design</a></li>
      <li><a href="#/projects#connect">Contact</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>	
 </nav>

<div class="section projects grey lighten-2">
  <div class="section">
    <div class="container">
      <div class="row">
      	<h3 class ="col s12 l10 offset-l1 light projects-title karla-bold">Development</h3>
      	<div class="col l10 offset-l1 divider teal"></div>
        <img src = "img/groovie.png" class="col s12 l5 offset-l1 responsive-img karla-bold"></img>
        <div class = "col s12 l5">
        
        </div>
        <div class="col l10 offset-l1 divider teal"></div>
      </div>
    </div>
  </div>
</div>